<% content_for :sub_menu do %>
  <%= link_to (t :recruit), talents_path , class: 'list-group-item active'%>
<% end %>

<% content_for :breadcrumb do %>
  <li><%= link_to (t :home_page), root_path %></li>
  <li class="active"><%= t :recruit %></li>
<% end %>

<div class="page-header">
  <h2><%= t :recruit %></h2>
</div>
<div class='link'>
  <a href="#">澳門軟件行業協會招聘網站管理員</a>
</div>
<div class='link'>
  <a href="#">MIT超群科技網絡招聘前端工程師</a>
</div>
<div class='link'>
  <a href="#">MIT超群科技網絡招聘美工</a>
</div>