<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '人才服務', links_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">人才服務</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>人才服務</h2>
    </div>
    <div class='link'>
      <a href="#">澳門軟件行業協會招聘網站管理員</a>
    </div>
    <div class='link'>
      <a href="#">MIT超群科技網絡招聘前端工程師</a>
    </div>
    <div class='link'>
      <a href="#">MIT超群科技網絡招聘美工</a>
    </div>
  </div>
</div>
<%= render 'layouts/sidebar' %>