<div class="footer-content text-center">
  <% if current_page?(root_path) %>
    <p>
      <% @global_info[:contact_infos].each do |c| %>
        <%= "#{c.info}: #{c.content}" %>
      <% end %>
    </p>
  <% end %>
  <p>Copyright © 2014 <%= t :msia_title %></p>
</div>