<div class="news-list msia-list">
  <div class="news-list-item msia-list-item">
    <% @news.each do |n| %>
      <div class="news-list-item msia-list-item">
        <h4><%= link_to (cc n.title), n  %></h4>
        <span class="badge pull-right"><%= n.created_at.to_date %></span>
        <p class="brief"><%= (cc n.brief) %></p>
      </div>
    <% end %>
  </div>
</div>
<nav>
  <%= will_paginate @news, renderer: BootstrapPagination::Rails %>
</nav>