<div class="topic-list msia-list">
  <div class="topic-list-item msia-list-item">
    <span class="badge pull-right">2014-11-16</span>
    <h4><%= link_to '有冇人參加咗週末珠海Pycon大會？', '#' %></h4>
  </div>
  <div class="topic-list-item msia-list-item">
    <span class="badge pull-right">2014-10-18</span>
    <h4><%= link_to '澳門本地化Apps有哪些推薦？', '#' %></h4>
  </div>
  <div class="topic-list-item msia-list-item">
    <span class="badge pull-right">2014-10-09</span>
    <h4><%= link_to '我想做一個交換舊書的網站，有人想要一起合作嗎？', '#' %></h4>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">上一頁</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">后一頁</a></li>
  </ul>
</nav>