<div class="carousel slide" id="carousel-768281">
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carousel-768281">
    </li>
    <li data-slide-to="1" data-target="#carousel-768281">
    </li>
    <li data-slide-to="2" data-target="#carousel-768281">
    </li>
  </ol>
  <div class="carousel-inner slides">
    <div class="item active">
      <%= image_tag 'DSC05116.JPG' %>
      <div class="carousel-caption">
        <p>
          澳門軟件行業協會活動1
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'DSC05113.JPG' %>
      <div class="carousel-caption">
        <p>
          澳門軟件行業協會活動2
        </p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'DSC05114.JPG' %>
      <div class="carousel-caption">

        <p>
          澳門軟件行業協會活動3
        </p>
      </div>
    </div>
  </div> <a class="left carousel-control" href="#carousel-768281" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-768281" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>


<div class="tabbable" id="tabs-197818">
  <ul class="nav nav-tabs nav-justified">
    <li class="active">
      <a href="#panel-607692" data-toggle="tab">活動資訊</a>
    </li>
    <li>
      <a href="#panel-685955" data-toggle="tab">行業新聞</a>
    </li>
    <li>
      <a href="#panel-685957" data-toggle="tab">公告通知</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="panel-607692">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">2014.11.04</span>
          <a href="#">澳門2014軟件交流會</a></li>
        <li class="list-group-item">
          <span class="badge">2014.11.05</span>
          <a href="#">GDG珠海線下活動</a></li>
        <li class="list-group-item">
          <span class="badge">2014.11.06</span>
          <a href="#">Google香港介紹會</a></li>
      </ul>
    </div>
    <div class="tab-pane" id="panel-685955">
      <p>
        Howdy, I'm in Section 2.
      </p>
    </div>
    <div class="tab-pane" id="panel-685957">
      <p>
        Howdy, I'm in Section 3.
      </p>
    </div>
  </div>
</div>