<div class="panel panel-default">
  <div class="panel-heading">
    <h3 >
      <strong>
        公告通知
      </strong>
    </h3>
  </div>
  <div class="panel-body">

    <h3>
      澳門軟件行業協會成立
    </h3>
    <p>
      澳門軟件行業協會是一個非牟利的民間學術團體。英文名稱：Macau Software Industry Association，簡稱：澳門軟件協會，成立於2014年。 協會廣泛團結澳門從事軟件開發、研究、教育、應用、保護等領域的專業...
    <p>
      <a class="btn" href="#">View details »</a>
    </p>


    <h3>
      澳门软件协会成员名单
    </h3>
    <p>
      會  長：	劉超榮	（超群數碼科技總經理） 副會長：	劉碧亮	 黎健儒	（中國銀行科技部副總經理）理事長：	蔡智明	（澳門城市大學/科技大學教授，博導）副理事長：	林粵明	（澳門CTM公司高級經理） 柯  偉	（澳門...
    </p>
    <p>
      <a class="btn" href="#">View details »</a>
    </p>



  </div>

</div>