<div class="col-xs-2">
  <div class="submenu list-group">
    <%= link_to '友情鏈接', links_path , class: 'list-group-item active'%>
  </div>
</div>
<div class="col-xs-7">
  <ol class="breadcrumb">
    <li><%= link_to '首頁', root_path %></li>
    <li class="active">友情鏈接</li>
  </ol>
  <div class="content">
    <div class="page-header">
      <h2>友情鏈接</h2>
    </div>
    <div class='link'>
      <a href="http://www.csia.org.cn" target="_blank">中国软件行业协会</a>
    </div>
    <div class='link'>
      <a href="http://www.hksia.hk" target="_blank">香港軟件行業協會</a>
    </div>
    <div class='link'>
      <a href="http://www.macauit.com" target="_blank">MIT超群科技網絡有限公司</a>
    </div>
    <div class="link">
      <a href="http://www.iproa.org" target="_blank">互聯網專業協會</a>
    </div>
  </div>
</div>
<%= render 'layouts/sidebar',:without => :links %>