body{
  background-color: lightgray;
  .main{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 4px;
  }
  .container{
    width: 970px !important;
  }
}

.logo-container{
  height: 98px;
}



.msia-navbar{
  background-color: skyblue;
  margin-bottom: 20px;
  .nav .open > a,
  .nav .open > a:hover, .nav .open > a:focus {
    background-color: #abe7ee;
    border-color: #428bca;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #abe7ee;
  }
  .nav > li > a {
    color: #000000;
  }
  .nav > li .dropdown-menu {
    margin: 0;
  }

  .nav > li:hover .dropdown-menu {
    display: block;
  }

}

.dropdown-menu {
  margin: 0px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: center;
  background-color: #abe7ee;
  border: 0;
  border-radius: 1px;
  min-width: 125px;
  li{
    width: 134px;
    a:hover, .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: #262626;
      background-color: lightblue;
    }
  }
}
#logo{
  max-width: 100%;
  margin-top: 21px;
}