.logo-container {
  padding-left: 30px;
  padding-right: 0px;
  .site-logo {
    width: 100%;
  }
}

.head-container{
  padding-top: 15px;
  padding-left: 0px;
}

.corner-info{
  padding-right: 30px;
}

.slides{
  .item{
    img{
      width: 100%;
    }
  }
}
.navbar .nav > li .dropdown-menu {
  margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
  display: block;
}

.navbar .nav > li .dropdown-menu {
  margin: 0;
}

.navbar .nav > li:hover .dropdown-menu {
  display: block;
}

.msia-navbar{
  margin-bottom: 0px;
  margin-top: 20px;
}

.msia-logo{
  padding-left: 30px;
  padding-right: 0px;
}

.msia-img-full{
  width:100%;
}

.msia-title-right{
  padding-top: 15px;
  padding-left: 0px;
}

.msia-title-left{

  padding-right: 30px;
}

p.msia-login{
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
}

p.msia-CL{
  margin-bottom: 0px;
  margin-top: 0px;
}

form.msia-searchform{
  margin-top: 0px;
  margin-bottom: 0px;
}