body{
  background-color: lightgray;
  .main{
    margin-top: 10px;
    background-color: white;
    border-radius: 4px;
  }
  .container{
    width: 970px !important;
  }
}

.logo-container{
  height: 98px;
}



.msia-navbar{
  background-color: skyblue;
  margin-bottom: 20px;

  .nav .open > a,
  .nav .open > a:hover,
  .nav .open > a:focus,
  .nav .open > a:active {
    background-color: #abe7ee;
    border-color: #428bca;
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a:active {
    text-decoration: none;
    background-color: #abe7ee;
  }
  .nav > li > a {
    color: #000000;
  }
  .nav > li .dropdown-menu {
    margin: 0;
  }

  .nav > li:hover .dropdown-menu {
    display: block;
  }

}

.dropdown-menu {
  margin: 0px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: center;
  background-color: #abe7ee;
  border: 0;
  border-radius: 1px;
  min-width: 125px;
  li{
    width: 134px;
    a:hover, .dropdown-menu > li > a:focus {
      text-decoration: none;
      color: #262626;
      background-color: lightblue;
    }
  }
}
#logo{
  max-width: 100%;
  margin-top: 21px;
}

.footer{
  background-image: url(/assets/copyright_bg.jpg);
  .footer-content{
    margin-top: 15px;
    color: white;
  }
}

.page-header{
  margin-top: 20px;
}

.sidebar{
  padding-left: 0;
  .panel-heading, .list-group-item{
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.submenu{
  margin-right: -15px;

  .list-group-item{
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .list-group-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}
.content{
  margin-bottom: 40px;
}

.msia-list-item{
  border-bottom: 1px solid rgb(238, 238, 238);
  span.badge {
    width: 77px;
  }
}