<div class="footer-content text-center">
  <p>地址: 澳門宋玉生廣場322﹣362號成豐商業中心5樓A&nbsp;&nbsp;電話: (853)2850 8193&nbsp;&nbsp;傳真: (853)2857 5206&nbsp;&nbsp;E-mail: azure_214@hotmail.com</p>
  <p>Copyright © 2014 澳門軟件行業協會</p>
</div>
