<div class="news-list msia-list">
  <div class="news-list-item msia-list-item">
    <div class="news-list-item msia-list-item">
      <h4><%= link_to '微軟完成1.8人裁員計劃', news_2_path %></h4>
      <span class="badge pull-right">2014-11-18</span>
      <p class="brief">微軟完成7月份宣佈的裁員計劃。...</p>
    </div>
    <h4><%= link_to 'PyCon 2014大會將在5城市舉行', news_3_path %></h4>
    <span class="badge pull-right">2014-11-13</span>
    <p class="brief">迄今為止最大規模。...</p>
  </div>
  <div class="news-list-item msia-list-item">
    <h4><%= link_to '中國Hpocon 2014將在上海舉辦', news_4_path %></h4>
    <span class="badge pull-right">2014-10-15</span>
    <p class="brief">關注架構與運維。...</p>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">上一頁</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">后一頁</a></li>
  </ul>
</nav>