<div class="members-list msia-list">
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '周帥', '#' %></h4>
    <p class="brief">Web應用開發者，熱愛Ruby on Rails。</p>
  </div>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '王丹彤', '#' %></h4>
    <p class="brief">軟件工程應屆畢業生。</p>
  </div>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '劉鵬', '#' %></h4>
    <p class="brief">MUST﹣CS學生，熱愛Python，熟悉Ruby，Go等多種語言</p>
  </div>
  <div class="members-list-item msia-list-item">
    <span class="badge pull-right">正式會員</span>
    <h4><%= link_to '林馳', '#' %></h4>
    <p class="brief">MUST﹣CS學生， 熱愛Python， 致力於推廣Python的使用</p>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">上一頁</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">后一頁</a></li>
  </ul>
</nav>