<div class="members-list msia-list">
  <% @members.each do |m| %>
    <div class="members-list-item msia-list-item">
      <span class="badge pull-right"><%= t m.member_type %></span>
      <h4><%= link_to (cc m.member_name), m %></h4>
      <p class="brief"><%= cc m.brief %></p>
    </div>
  <% end %>
</div>
<nav>
  <%= will_paginate @news, renderer: BootstrapPagination::Rails %>
</nav>