<div class="news-list msia-list">
  <div class="news-list-item msia-list-item">
    <h4><%= link_to '深港澳首度聯手做軟件', news_5_path %></h4>
    <span class="badge pull-right">2014-10-27</span>
    <p class="brief">深圳信息軟件協會、香港軟件協會與澳門生產力暨科技轉移中心聯合簽署「深港澳信息科技產業」戰略合作協議」...</p>
  </div>
  <div class="news-list-item msia-list-item">
    <h4><%= link_to '協會捐款賑濟滇災民', news_6_path %></h4>
    <span class="badge pull-right">2014-08-16</span>
    <p class="brief">為支援雲南省昭通市魯甸縣地震災區災民，繼續有團體向中聯辦捐款。...</p>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">上一頁</a></li>
    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">后一頁</a></li>
  </ul>
</nav>