<div class="col-md-4 column sidebar">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        協會簡介
      </h3>
    </div>
    <div class="panel-body">
      澳門軟件行業協會是一個非牟利的民間學術團體。英文名稱：Macau Software Industry Association，簡稱：澳門軟件協會，成立於2014年。 協會廣泛團結澳門從事軟件開發、研究、教育、應用、保護等領域的專業人士及企業，通過市場調查、資訊交流、諮詢評估、行業自律、知識產權保護、資質認定、教育培訓、出版發布、政策研究、會議展覽等方面的工作，促進澳門軟件產業的健康發展。
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        友情鏈接
      </h3>
    </div>


    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item"><a href="#">MIT超群科技網絡有限公司</a></li>
      <li class="list-group-item"><a href="#">MUST學生團隊</a></li>
    </ul>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        關於我們
      </h3>
    </div>
    <div class="panel-body">
      地址：澳門宋玉生廣場322﹣362號成豐商業中心5樓A<br/>
      電話：（853）2850 8193<br/>
      傳真：（853）2857 5206<br/>
      E-mail：azure_214@hotmail.com
    </div>
  </div>

</div>