<div class="sidebar col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= link_to '最新動態', news_index_path %>
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <a href="#">GDG珠海線下活動 DevFest</a>
      </li>
      <li class="list-group-item">
        <a href="#">微軟公司 MUST 講座</a>
      </li>
      <li class="list-group-item">
        <a href="#">微軟公司 MUST 講座</a>
      </li>
    </ul>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        友情鏈接
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="http://www.csia.org.cn" target="_blank">中国软件行业协会</a></li>
      <li class="list-group-item"><a href="http://www.hksia.hk" target="_blank">香港軟件行業協會</a></li>
      <li class="list-group-item"><a href="http://www.macauit.com" target="_blank">MIT超群科技網絡有限公司</a></li>
    </ul>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        聯繫我們
      </h3>
    </div>
    <div class="panel-body">
      地址: 澳門宋玉生廣場322﹣362號成豐商業中心5樓A<br/>
      電話: (853) 2850 8193<br/>
      傳真: (853) 2857 5206<br/>
      電郵: azure_214@hotmail.com
    </div>
  </div>
</div>