@charset "UTF-8";
/* CSS Document */



#container{
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 950px;
	display: run-in;
	margin: 10px auto 10px auto;
}

#title_bar{
	text-align: justify;
}

#nav_bar{
	text-align: center;
	background-image: -webkit-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);	
}

#example{
	text-align: center;
}

#main1{
}

#main2{
}

#slideshow{

}

#association_info{
	height: 300px;
}

#footer{
	border-color: #87ACE9;
	background-color: #87ACE9;
}

#f_address_copyright{
	border-color: #87ACE9;
	background-image: -webkit-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(82,46,156,1.00) 0%,rgba(104,127,187,1.00) 100%);
	color: #FFFFFF;
}
